//todo: move to an appropriate place...
@import url('https://fonts.googleapis.com/css?family=Roboto');

$dark-grey: #14080A;
$light-grey: #ccc;
$white: #efefef;
$true-white: #fff;
$dark-blue: #00151C;

$sidebar-bg: $dark-grey;
$sidebar-copy: $white;

$list-bg: $true-white;
$list-item-bg: $white;

$editor-bg: $white;

$note-card-bg: $true-white;
